.title{
    color: white;
}

.poster{
    width: 100%;
    object-fit: contain;
    max-height: 105px;
    transition: transform 450ms;
    margin-right: 10px;
}
.mainDiv{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}


.mainDiv::-webkit-scrollbar{
    display: none;
}
.mainDiv img:hover{
    transform: scale(1.08);
}


#originalWrapper {
    max-height: 250px;
}

.row__youtube {
	padding: "40px";
}